@import url('https://fonts.googleapis.com/css?family=Roboto:300&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300&subset=cyrillic');

body {
  display:flex;
  height: 90vh;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: #161616;
  text-align: center;
  color: white;
} 

h1 {
  font-weight: 300;
  font-family: 'Cormorant Garamond', serif;
  width: 100%;
  margin-top: 0;
}

p, a {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #ffbc00;
 }

@media screen and (max-width: 600px) {
  p, a {
    font-size: 12px;
  }
}
