@import url('https://fonts.googleapis.com/css?family=Roboto:300&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300&subset=cyrillic');

body {
  display:flex;
  height: 100vh;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: #000;
  text-align: center;
  background-image: url('../img/bg.jpg');
  background-repeat: repeat;
  background-size: cover;
  color: white;
} 

h1 {
  font-weight: 300;
  font-family: 'Cormorant Garamond', serif;
  font-size: 150%;
  width: 100%;
}

p, a {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  color: #ffbc00;
  text-decoration: none;
 }

@media screen and (max-width: 600px) {
  p, a {
    font-size: 12px;
  }
}
