#sunOff, #sunOn, .planet {
  opacity: 1;
}

@keyframes orbit1 {
    from { transform: rotate(0deg);}
    to   { transform: rotate(360deg);}
}

@keyframes orbit2 {
    from { transform: rotate(90deg);}
    to   { transform: rotate(450deg);}
}

@keyframes orbit3 {
    from { transform: rotate(240deg);}
    to   { transform: rotate(600deg);}
}

@keyframes changeSize {
    0% {width: 80%;
    height: 80%;}
    50% { width: 90%;
    height: 90%;}
    100% { width: 80%;
    height: 80%;}
}

@keyframes turnOn {
    0%    {opacity: 0;}
    /*5%   {opacity: 0.5;}
    10%   {opacity: 0;}
    15%   {opacity: 0.5;}
    40%   {opacity: 0;}
    50%   { opacity: 0.3;}
    60%   { opacity: 0;}
    75%   { opacity: 0.7;}
    85%   { opacity: 0.3;}*/
    100%  { opacity: 1;}
}

@keyframes turnOnPlanet {
    0%    {opacity: 0;}
    100%  { opacity: 1;}
}

@keyframes blink {
    0%    {opacity: 0;}
    5%    {opacity: 0.5;}
    10%   {opacity: 0;}
    15%   {opacity: 0.5;}
    40%   {opacity: 0;}
    50%   { opacity: 0.3;}
    60%   { opacity: 0;}
    75%   { opacity: 0.7;}
    85%   { opacity: 0.3;}
    100%  { opacity: 1;}
}
