
@media screen and (max-width: 600px) and (orientation:portrait) {
nav ul {
  flex-direction: column;
  justify-content: center;
}
  nav {
    position: relative;
    top: -40px;
  }

  nav li {
    margin: 5px;
  }

  .solarSistem {
    position: relative;
    top: -40px;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .solarSistem {
    position: relative;
    top: -10px;
  }
  nav {
    position: relative;
    top: -30px;
  }
}


@media screen and (max-height: 480px) {
  nav {
    font-size: 110%;
    line-height: 30px;
  }
  /*.solarSistem {
    top: -30px;
  }*/
}
