@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300&subset=cyrillic');

body {
  background-color: #000;
  text-align: center;
  margin: 0px;
  background-image: url('../img/bg.jpg');
  background-repeat: repeat;
  background-size: cover;
}

.info {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}

h1, a {
  font-weight: 300;
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  margin: 0;
  height: calc(50vh - 31vmin);
  line-height: calc(50vh - 31vmin);
  font-size: 150%;
  color: #ffffff;
}

nav {
  font-size: 150%;
  text-align: center;
  display: block;
  margin: 0;
  height: calc(50vh - 30vmin);
  padding: 0;
}

li {
  list-style-type: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

nav li {
  display: inline; /* Отображать как строчный элемент */
}

a {
  color: #ffffff;
  text-decoration: none;
  transition-duration: 0.5s;
}

a:hover { /* цвет при наведении */
color: #ffbc00;
}

.solarSistem {
  display: inline-block; /*для позиции по центру*/
  width: 60vmin;
  height: 60vmin;
  vertical-align: middle;
  position: relative;
}

.planet {
    position: fixed;
}

.path1 {
  width: 50%;
  height: 50%;
  animation: orbit1 15s linear infinite;
}

.path2 {
  width: 73%;
  height: 73%;
  animation: orbit2 20s linear infinite;
}

.path3 {
  width: 100%;
  height: 100%;
  animation: orbit3 27s linear infinite;
}

.path {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.sun {
  width: 50%;
  position: absolute;
  top:25%;
  left: 25%;
  cursor: pointer;
}

#sunOn {
  z-index: 2;
  opacity: 0;
  animation: turnOn 2s linear 1;
}

#sunOff {
  z-index: 1;
  opacity: 0;
  animation: turnOn 2s linear 1;
}
