@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300&subset=cyrillic');

body {
  background-color: #000;
  text-align: center;
  margin: 0;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.info {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}

h1, a {
  font-weight: 300;
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  /*pointer-events: none;*/
  margin: 0;
  height: calc(50vh - 31vmin);
  line-height: calc(50vh - 31vmin);
  font-size: 150%;
  color: #ffffff;
}

nav {
  font-size: 150%;
  text-align: center;
  display: block;
  margin: 0;
  height: calc(50vh - 30vmin);
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

li {
  list-style-type: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

nav li {
  display: inline; /* Отображать как строчный элемент */
}

a {
  color: #ffffff;
  text-decoration: none;
  transition-duration: 0.5s;
}

a:hover { /* цвет при наведении */
color: #ffbc00;
}

.space-objects {
  display: inline-block; /*для позиции по центру*/
  width: 60vmin;
  height: 60vmin;
  vertical-align: middle;
  position: relative;
}

.planet {
    position: absolute;
}

.space-object {
  border-radius: 50%;
  position: absolute;
}

.sun {
  width: 8%;
  height: 8%;
  top: 46%;
  left: 46%;
  cursor: pointer;
  background-color: rgba(223, 172, 21, 0.84);
}

.planet-wrapper {
  position: absolute;
  transition: all 1s;
  animation-name: orbit;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.planet-path {
  box-sizing: border-box;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  border: solid rgba(255, 255, 255, 0.3) 1px;
}

@keyframes orbit {
  100% { transform: rotate(360deg); }
}
