@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-weight: normal;
    text-align: center;
    margin-top: 35vh;
    margin-bottom: 50px;
}

nav {
    list-style: none;
}

nav ul {
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    font-size: 24px;
    padding: 0 30px 0 20px;
    border-right: #999 solid 2px;
    margin: 0;
}

nav ul li:last-child {
    border: none;
}

a {
    transition: color 300ms;
    text-decoration: none;
    color: #777;
}

nav ul li a:hover {
    color: #222;
}
