@media screen and (max-width: 540px) {
  nav li {
    font-size: 12px;
    display: inline;
  }
  nav ul {
    padding: 0 5px;
  }
}

/*@media screen and (max-width: 800px) {
   #pagewrap {
      width: 90%;
   }
   main {
     position: relative;
     width: 100%;
     float: none;
   }
   nav {
     margin-top: auto;
     position: relative;
     float: none;
   }
}*/
