@media screen and (max-width: 740px) {
  p, figcaption {
    font-size: 12px;
  }

  main {
    padding: 0 15px;
  }

  h1 {
    padding-top: 7px;
    font-size: 20px;
    margin-top: 0px;
  }

  h2 {
    font-size: 20px;
  }

  main {
    padding-top: 0;
  }

  section {
      margin-top: 0px;
  }

  .humburger-button {
    display:block;
  }

  header {
    background: linear-gradient(to bottom, rgba(0,0,0,0.9) 10%,rgba(0,0,0,0) 100%);
  }

  nav {
    padding-bottom: 100px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.95) 10%, rgba(0,0,0,0.70) 65%, rgba(0,0,0,0) 100%);
    position: fixed;
    top: 0;
    z-index: 200;
  }

  #nav-list {
    display: none;
    flex-wrap: wrap;
  }

  nav li {
    flex-basis: 100%;
    display: block;
  }

  nav a {
    display: block;
    padding:10px;
    font-style: 120%;
  }

  .nav-active {
    display:block;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  }

  footer {
    margin-top: 10px;
  }

  .contacts {
    width: 230px;
  }

  .contacts p {
    font-size: 16px;
  }

  .contacts h2{
    text-align: center;
  }
}

@media all and (orientation: landscape){
  section img {
    width: 100%;
    height: auto;
  }

  @supports (object-fit: cover) {
    section img {
      height: 100%;
    }
  }
}

@media all and (orientation: landscape) and (max-width: 740px) {
  .img-container {
    height: 50vh;
    margin: 0 auto;
  }
  main {
      width: 60%;
  }
}


@media all and (orientation: portrait){
  section img {
    height: 100%;
    width: auto;
  }

  @supports (object-fit: cover) {
    section img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 1500px) {
   main {
     max-width: 1000px;
   }

   .img-container { /*for main pages*/
     max-height: 528px;
   }
 }
