@media screen and (max-width: 540px) {
  p, figcaption {
    font-size: 12px;
  }
  h1 {
    padding-top: 7px;
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  main {
    padding-top: 0;
  }

  section {
      margin-top: 0px;
  }

  .humburger-button {
    display:block;
  }

  header {
    background: linear-gradient(to bottom, rgba(0,0,0,0.9) 10%,rgba(0,0,0,0) 80%);
  }

  nav {
    padding-bottom: 100px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.95) 10%, rgba(0,0,0,0.70) 65%, rgba(0,0,0,0) 100%);
    position: fixed;
    top: 0;
    z-index: 200;
  }

  /*header {
    position: relative;
    top: -15px;
  }*/

#nav-list {
  display: none;
  flex-wrap: wrap;
}

 nav li {
  flex-basis: 100%;
  display: block;
}

  nav a {
    display: block;
    padding:10px;
    font-style: 120%;
  }
  .nav-active {
    display:block;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  }

  footer {
    margin-top: 10px;
  }
}

/*@media screen and (max-width: 800px) {
   #pagewrap {
      width: 90%;
   }
   main {
     position: relative;
     width: 100%;
     float: none;
   }
   nav {
     margin-top: auto;
     position: relative;
     float: none;
   }
}*/

@media all and (orientation: landscape){
  section img {
    width: 100%;
    height: auto;
  }

}
@media all and (orientation: landscape) and (max-width: 540px) {
  .img-container {
    height: 50vh;
    width: 80%;
    margin: 0 auto;
  }

}

@media all and (orientation: portrait){
  section img {
    height: 100%;
    width: auto;
  }

}
