section {
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
}

.img-container {
  width: 100%;
  height: 60vh;
  max-height: 422px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section img {
  position: relative;
  flex-shrink: 0;
}

section footer {
  text-align: right;
  font-size: 18px;
  margin-top: 15px;
  font-weight: normal;
  font-family: 'Cormorant Garamond', serif;
}
