
body {
  background-color: #000;
  margin: 0px; /*убираем отступы от краев*/
  padding: 0px;
  background-image: url('../img/bg.jpg');
  background-repeat: repeat;
  font-family: 'calibri', sans-serif;
  font-weight : lighter;
  color: white;
}

img {
   max-width: 100%;
   height: auto;
   width: auto\9; /* ie8 */
}

menu {
  font-size: 18px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 100vh;
}

.wrap {
  position: absolute;
  top: 0px;
  right: 0px;
  width: calc(100vw - 180px);
}

main {
  margin: 0 auto;
  width: 1000px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

li{
  margin: 0px;
}

a {
  color: white;
  text-decoration: none;
}

a { /* анимация */
-webkit-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
transition-duration: 0.5s;
}
a:hover { /* цвет при наведении */
color: #ffbc00;
}

#myName {
  margin-top: 20px;
  height: 60px;
  clear: both;
  float: right;
}
