@media screen and (max-width: 600px) {
  menu li {
  position: relative;
  display: block; /* Отображать как строчный элемент */
  }

  menu {
    position: relative;
    top: -40px;
    line-height: 50px;
  }

  .solarSistem {
    position: relative;
    top: -40px;
  }
}


@media screen and (max-height: 450px){
  menu {
    font-size: 100%;
    line-height: 30px;
    top: -40px;
  }
  
  .solarSistem {
    top: -20px;
  }
}
