/*Что лучше css или закругленный div?*/
body {
  background-color: #03001c;
  text-align: center;
  margin: 0px; /*убираем отступы от краев*/
}

h1 {
  position: fixed;
  width: 100%;
  font-size: 150%;
  top:15%;
  margin-top: -10px;
  color: #ffffff;
  font-family: 'calibri', sans-serif;
  font-weight : lighter;
}

menu {
  font-size: 150%;
  width: 100%;
  position: fixed;
  top:85%;
  margin-top: -40px;
  z-index: 30;
  padding: 0px; /*чтобы отступы слева и справа были одинаковые*/
  text-align: center;

  /*background-color: #094398;*/
}
ul {
  list-style-type: none;
  padding: 4px; /* Значение полей */
}

li {
  display: inline; /* Отображать как строчный элемент */
  padding: 0px 30px; /* Поля вокруг текста */
  /*background-color: #922985;*/
}

a {
  color: #ffffff;
  font-family: 'calibri', sans-serif;
  font-weight : lighter;
  text-decoration: none;
}

a { /* анимация */
-webkit-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
transition-duration: 0.5s;
}
a:hover { /* цвет при наведении */
color: #ffbc00;
}

.spaceObjects { /*общее для планет*/
  background-size: cover; /*Картинка полностью заполняет div*/
 left: 50%; /*Выравниваем левый верхний угол по центру*/
 top: 50%;
 position: absolute;/*Не двигается*/
}

#sunCircle {
  width: 6vmin;
  height: 6vmin;
  margin-left: -3vmin;
  margin-top: -3vmin;
  background:#ffbc00;
}

#planet1 {
  width: 2vmin;
  height: 2vmin;
  margin-left: -1vmin;
  margin-top: -6vmin;
  background: rgb(85, 255, 154);
}

#planet2 {
  width: 2.4vmin;
  height: 2.4vmin;
  margin-left: -9.2vmin;
  margin-top: -1.2vmin;
  background: rgb(224, 64, 251);
}

#planet3 {
  width: 3vmin;
  height: 3vmin;
  margin-left: 10.5vmin;
  margin-top: -1.5vmin;
  background: rgb(100, 204, 9);
}

#planet4 {
  width: 4vmin;
  height: 4vmin;
  margin-left: -19vmin;
  margin-top: -2vmin;
  background: rgb(51, 99, 255);
}

#planet5 {
  width: 5vmin;
  height: 5vmin;
  margin-left: -2.5vmin;
  margin-top: 20.5vmin;
  background: rgb(172, 0, 44);
}


#path1 {
  width: 10vmin;
  height: 10vmin;
  margin-left: calc(-5vmin - 2px);
  margin-top: calc(-5vmin - 2px);
}

#path2 {
  width: 16vmin;
  height: 16vmin;
  margin-left: calc(-8vmin - 2px);
  margin-top: calc(-8vmin - 2px);
}

#path3 {
  width: 24vmin;
  height: 24vmin;
  margin-left: calc(-12vmin - 2px);
  margin-top: calc(-12vmin - 2px);
}

#path4 {
  width: 34vmin;
  height: 34vmin;
  margin-left: calc(-17vmin - 2px);
  margin-top: calc(-17vmin - 2px);
}

#path5 {
  width: 46vmin;
  height: 46vmin;
  margin-left: calc(-23vmin - 2px);
  margin-top: calc(-23vmin - 2px);
}


.path {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid rgba(255, 255, 255, .2);
}

#planet1, #planet2, #planet3, #planet4, #planet5, #sunCircle {
  border-radius: 50%;
  left: 50%;
  top: 50%;
  cursor: pointer;
  position: absolute;
  transition: background-color 1s;
}
.rotatePlanet {
  position: relative;
  width: 100%;
  height: 100%;
}

#rotatePlanet1 {
  animation: myOrbit 4s linear infinite;
}

#rotatePlanet2 {
  animation: myOrbit 5s linear infinite;
}

#rotatePlanet3 {
  animation: myOrbit 8s linear infinite;
}

#rotatePlanet4 {
  animation: myOrbit 15s linear infinite;
}

#rotatePlanet5 {
  animation: myOrbit 20s linear infinite;
}
